.productCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    &__image {
        width: 20em;
        height: 30em;
        object-fit: contain;

        @media (max-width:1000px) {
            width: 15em;
            height: 20em;
        }
    }
}
