@import url("./reset.scss");
@import url('./font.scss');

:root {
    --main--color-gold : rgb(218, 165, 32);

    // --main--color-brown : #520c17;
    // --main--color-brown : #40080A;
    --main--color-brown : rgb(103, 22, 45);

    @media (max-width:1000px) {
        font-size: 10px;
    }
}

body {
 //   font-family: "Intro", Times, serif;
    font-family: "InterRegular", Times, serif;

    color: var(--main--color-brown);
}



