.navigation {
    position: sticky;
    top: 0;
    left: 0;
    
    grid-area: nav;

    font-family: "Intro", serif;

    display: flex;
    justify-content: center;

    color: white;
    background-color: #520c17;

    font-size: 1.3rem;

    @media (max-width:1000px) {
        flex-direction: column;
        width: 100%;
    }

    &__link {
        padding: 10px 10px;
        border: 1px solid rgb(165, 42, 42, 0.5);

        &:hover {
            color: black;
            background-color: white;

            transition: color 0.2s ease-in, background-color 0.2s ease-in;
        }
    }
}